<section class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <div>
                            <p>
                                <a href="{{ url_for('main.filter_posts',id=1) }}">
                                    Fashion
                                </a>
                            </p>
                        </div>
                        <div>
                            <p>
                                <a href="{{ url_for('main.filter_posts',id=2) }}">
                                    Food
                                </a>
                            </p>
                        </div>
                        <div>
                            <p>
                                <a href="{{ url_for('main.filter_posts',id=3) }}">
                                    Travel
                                </a>
                            </p>
                        </div>
                        <div>
                            <p>
                                <a href="{{ url_for('main.filter_posts',id=4) }}">
                                    Lifestyle
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <p class="text-center text-white">
                    Developed with ❤️ by<a href="https://developerwilson.com/" class="text-capitalize text-danger"
                        target="_blank" rel="noopener noreferrer">Developer Wilson</a></p>
            </div>
        </div>
    </footer>
</section>