{% import 'macros.html' as macro%}
{% extends "base.html" %}
{% block content %}
<!-- homepage section -->
<section class="homepage">
    <div class="home">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center">
                    <div class="homepage-content">
                        <h3>
                            <q>
                                {{ quote.quote }}
                            </q>
                        </h3>
                        <p class="author mt-2">
                            -{{ quote.author }}
                        </p>
                        <a href="" class="btn mt-5 b-r">
                            view recents posts
                        </a>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>

<!-- blogs -->
<section class="blog-section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <!-- display blogs -->
                    {{ macro.displayPosts(posts) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="card p-3 col-md-12">
                        <h5>Search</h5>
                        <form action="" class="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn" type="submit">
                                        <i class="fa fa-search text-white"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="card p-2">
                        <div class="col-md-12 categories">
                            <h5>Categories</h5>
                            {% for category in categories %}
                            <a class="btn btn-sm btn-outline-dark" href="{{ url_for('main.filter_posts',id=category.id) }}">{{ category.name }}</a>
                            {% endfor %}
                            <!-- <a class="btn btn-sm btn-outline-dark">Business</a> -->
                        </div>
                    </div>
                </div>
                <div class="card p-2 row mt-3 tops">
                    <h5>TOP POSTS</h5>
                    {% for post in latest_posts %}
                    <a href="{{ url_for('main.single_post',id=post.id)}}">
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <!-- check if post image exists -->
                                {% if post.image_path %}
                                <img src="{{ post.image_path }}" alt="{{ post.title }}" class="side-post-image">
                                {% else %}
                                <img src="https://www.freeiconspng.com/uploads/no-image-icon-11.PNG"
                                    alt="{{ post.title }}" class="side-post-image">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <p>
                                    {{ post.title }}
                                    <br>
                                    <small>
                                        <span>
                                            <i class="fa fa-user" style="font-size: 10px;"></i> {{ post.created_at.strftime('%d %b %Y') }}
                                        </span>
                                    </small>
                                </p>
                            </div>
                        </div>
                        <hr>
                    </a>
                    {% endfor %}
                </div>
                <div class="card p-3 row mt-2 mb-3">
                    <h5>About</h5>
                    <div class="col-md-12">
                        <p>
                            Personal blogging website where you can create and share your opinions and other users can read and comment on them
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}