{% import 'bootstrap/wtf.html' as wtf%}
{% extends "base.html" %}
{% block content %}
<!-- single post details -->
<!-- check if image exists -->
{% if post.image_path %}
<section class="single-top-header" style="background-image: url({{ post.image_path }})">
    {% else %}
    <section class="single-top-header" style="background-image: url({{ url_for('static',filename='img/9.jpg')}})">
        {% endif %}

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <div class="single-content">
                            <p>{{ post.category.name }}</p>
                            <h2 class="display-6 mt-4 headings">
                                {{ post.title }}
                            </h2>
                            <div class="author mt-5">
                                <p>
                                    By {{ post.user.name }}
                                </p>
                                <!-- check if author profile exists -->
                                {% if post.user.profile_pic_path %}
                                <img src="{{ post.user.profile_pic_path }}" alt="author" class="author-img mt-3">
                                {% else %}
                                <img src="https://image.pngaaa.com/303/1721303-middle.png" alt="author"
                                    class="author-img mt-3">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-container p-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        {{ post.content|safe }}
                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="comments-container mb-2">
        <div class="container">
            <div class="comments">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Flash message -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                aria-label="{{ category }}:">
                                <use xlink:href="#exclamation-triangle-fill" />
                            </svg>
                            <div>
                                {{ message }}
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-start">
                                <div>
                                    <img src="http://laravelblogs.herokuapp.com/images/4.jpg" alt=""
                                        class="comment-author-img">
                                </div>
                                <div>
                                    <h5 class="comment-author">
                                        Wilson Kinyua <span><small>3 minutes ago</small></span>
                                    </h5>
                                    <p class="comment-p">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nesciunt
                                        cupiditate,
                                        eum doloremque vero saepe vel iste? Itaque voluptates accusamus voluptatum
                                        molestiae
                                        labore aspernatur quae officia ad delectus nihil magnam
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="d-flex justify-content-start">
                                <div>
                                    <img src="http://laravelblogs.herokuapp.com/images/4.jpg" alt=""
                                        class="comment-author-img">
                                </div>
                                <div>
                                    <h5 class="comment-author">
                                        Wilson Kinyua <span><small>3 minutes ago</small></span>
                                    </h5>
                                    <p class="comment-p">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nesciunt
                                        cupiditate,
                                        eum doloremque vero saepe vel iste? Itaque voluptates accusamus voluptatum
                                        molestiae
                                        labore aspernatur quae officia ad delectus nihil magnam
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="d-flex justify-content-start">
                                <div>
                                    <img src="http://laravelblogs.herokuapp.com/images/4.jpg" alt=""
                                        class="comment-author-img">
                                </div>
                                <div>
                                    <h5 class="comment-author">
                                        Wilson Kinyua <span><small>3 minutes ago</small></span>
                                    </h5>
                                    <p class="comment-p">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nesciunt
                                        cupiditate,
                                        eum doloremque vero saepe vel iste? Itaque voluptates accusamus voluptatum
                                        molestiae
                                        labore aspernatur quae officia ad delectus nihil magnam
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="comment-form">
                            <!-- check is user is logged in -->
                            {% if current_user.is_authenticated %}
                                {{wtf.quick_form(form)}}
                            {% else %}
                                <a class="btn btn-block text-center" href="{{ url_for('auth.login')}}">Sign in to leave a comment</a>
                            {%endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}